[submodule "rpm-sources"]
	path = rpm-sources
	url = https://github.com/AlasterLinux/rpm-sources
[submodule "Alaster-Linux-images"]
	path = Alaster-Linux-images
	url = https://github.com/AlasterLinux/Alaster-Linux-images
[submodule "Alaster-Linux-core-packages"]
	path = Alaster-Linux-core-packages
	url = https://github.com/AlasterLinux/Alaster-Linux-core-packages
